<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <!-- Data 안에있는 uuid와 아래의  v-bind:id를 연결한다 -->
      <p v-bind:id="uuid" v-bind:class="name">{{num}}</p>
      <p>{{doubleNum}}</p>
      <div></div>
      
      <!-- loading= false 일때 show는 돔에 남아있고 보이지만 않는것인 반면, if는 없어진다. -->
      <div v-show="loading">Loading...</div>
      <div v-if="loading">Loading...</div>
      <div v-else>test user has been logged in</div>
      <input type= "text" v-model="message">
      <p>{{ message }}</p>
    </input>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      new Vue({
        el: '#app',
        data: {
          num: 90,
          uuid: 'abc1234',
          name: 'text-blue',
          loading: true,
          message: '',
        },
        // 어떤 다른값에 따라 변하는 값을 computed에 쓰인다. 
        computed: {
          doubleNum: function () {
            return this.num * 2
          },
        },
      })
    </script>
  </body>
</html>
